* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Adjusted to center the items */
  gap: 20px;
  padding: 20px;
  max-width: 800px; /* Set a max-width for the container */
  margin: auto; /* Center the container on the screen */
}

.grid-item {
  border: 5px solid #ccc;
  padding: 10px;
  width: 100%; /* Ensure grid items expand to fill the container */
}


.item-header {
  font-size: 1.5em; /* Larger font size for header */
}

.item-value, .item-description {
  font-size: 0.9em; /* Smaller font size for other texts */
  font-style: italic; /* Italicize the font */
}

.home-button {
  position: fixed; /* Keeps the button in the same place on the screen */
  bottom: 20px; /* Distance from the bottom of the viewport */
  right: 20px; /* Distance from the right side of the viewport */
  z-index: 100; /* Ensures the button is above other content */
  padding: 10px;
  background-color: #007bff; /* Example background color */
  color: white; /* Text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
}

/* Additional styles for hover effect */
.home-button:hover {
  background-color: #0056b3;
}
